# Ignorar arquivos gerados pelo Docker
docker-compose.override.yml
.docker/

# Ignorar arquivos de ambiente
.env

# Ignorar dependências e builds
node_modules/
dist/
build/

# Ignorar arquivos temporários
*.log
temp/

# Ignorar IDEs
.vscode/
.idea/